.App {
  text-align: center;
}

.App-header {
  box-sizing: border-box;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #ccc;
}

.weather-image img {
  height: 40vh;
}

.weather-info {
  font-size: 3.5rem;
  line-height: 1;
}

.weather-details {
  font-size: 2.5rem;
}

.weather-table {
  width: 80vw;
  border: 2px solid #ccc;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 25px;
}

.weather-table li {
  list-style-type: none;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.weather-table i {
  position: relative;
  display: inline-block;
}

.weather-table li:nth-of-type(odd) {
  background-color: #333842;
}